Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [4]:
a = 'String'
b = [1,3,4,'apple',True]
c = 4.5
d = (5,'Banana',7)
print(a)
print(b)
print(c)
print(d)

String
[1, 3, 4, 'apple', True]
4.5
(5, 'Banana', 7)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [8]:
var1=''
var2='[DS,ML,Python]'
var3=['DS','ML','Python']
var4 = 1
type(var1)

str

In [9]:
type(var2)

str

In [10]:

type(var3)

list

In [11]:
type(var4)

int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

/ = Divide Operator

In [14]:
a = 4/2
print(a)

2.0

% = Modulus

In [16]:
a = 15%7
print(a)

1

// = Floor Division

In [17]:
a = 16 // 8
print(a)

2

** = Exponential

In [18]:
a = 2**3
print(a)

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [ ]:
l = [ 77, 3,True,'Hello','World',7.8,False,8.09,7]
for i in l:
    print(i,type(i))

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [ ]:
l = [ 22, 33, 45,67,66,69,22,21,39,77,78,36,93,63,87,27,99,28,32,45,76,64,999,333,56]
for i in  l:
    if(i%3 == 0):
        print(i,end='element is divisible by 3\n')
    else:
        print(i,end='element is not Divisible by 3\n')